#ok {
    display: none;
  }
  
#ok:checked ~ .selengkapnya {
    display: block;
  }
  
  #ok:checked ~ label {
    display: none;
  }
  
  .baca {
    text-align: center;
    cursor: pointer;
    color: #4d04a1;
  }
  
  .selengkapnya {
    display: none;
  }
  
  .oi {
    line-height: 2.5;
  }